* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 0%;
  background-color: #daa06d;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #9a7b4f;
  height: 60px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 35%;
  background-color: #6f4e37;
  border-radius: 30px;
  padding: 5px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  transition-delay: 0.2s;
  transition-duration: 1s;
  color: #daa06d;

  background-color: none;
  padding: 0px;
  transform: rotate(360deg);
}

.all-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.all-logo h1 {
  margin-left: 20px;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
  background-image: url(img/taupe.png);
  background-size: cover;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.divs-difficult-level-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.bloc-difficult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #6f4e37;
  border-radius: 20px;
  padding: 10px;
  width: 130%;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 50px 0px;
}

#input-pseudo {
  border: none;
  background: none;
  cursor: line;
  color: #000;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;
  font-size: 16px;

  border: none;
  background: none;
  cursor: line;
  color: #000;
}

.bloc-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #6f4e37;
  border-radius: 20px;
  padding: 10px;
  width: 130%;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
}

#selecter {
  background-color: none;
  border: none;
  font-size: 16px;
  margin-bottom: 5px;
  background-color: #9a7b4f;
  border-radius: 10px;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bloc-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #6f4e37;
  border-radius: 20px;
  padding: 10px;
  width: 130%;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
}

#inputText {
  background-color: #6f4e37;
  border: none;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #9a7b4f;
  text-align: center;
}

.divs-cancel-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #daa06d;
}

.bloc-cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #6f4e37;
  border-radius: 20px;
  padding: 10px;
  width: 150%;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
  cursor: pointer;
}

.bloc-cancel a {
  color: #000;
  text-decoration: none;
}

.button-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #6f4e37;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #9a7b4f;
    height: 100px;
    padding-top: 30px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 60px;
  }

  .all-logo h1 {
    display: none;
  }

  .logo {
    padding: 30px;
  }

  /* responsive mobile partie contenu */
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .divs-difficult-level-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    margin-bottom: 100px;
  }

  .bloc-difficult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #6f4e37;
    border-radius: 20px;
    padding: 15px;
    width: 180%;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin: 20px 0px;
    margin-top: 100px;
  }

  #input-pseudo {
    border: none;
    background: none;
    cursor: line;
    color: #000;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 20px;

    border: none;
    background: none;
    cursor: line;
    color: #000;
  }

  .bloc-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #6f4e37;
    border-radius: 20px;
    padding: 10px;
    width: 130%;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 20px;
  }

  #selecter {
    background-color: none;
    border: none;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #9a7b4f;
    border-radius: 10px;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .bloc-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #6f4e37;
    border-radius: 20px;
    padding: 15px;
    width: 180%;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 20px;
  }

  #inputText {
    background-color: #6f4e37;
    border: none;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #9a7b4f;
    text-align: center;
  }

  .divs-cancel-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #daa06d;
  }

  .bloc-cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #6f4e37;
    border-radius: 20px;
    padding: 20px;
    width: 200%;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .bloc-cancel a {
    color: #000;
    text-decoration: none;
  }

  .button-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #6f4e37;
    border-radius: 20px;
    /* padding: 20px; */
    width: 100%;
    font-family: kristen Itc, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
  }
}
